.main{
    border: 1px solid black;
    box-shadow: grey 5px 5px 5px;
    background-color: black;
    width: 31%;
    margin: 0 35%;
    height: 270px;
}


.input{
    width: 95%;
   border-radius: 15px;
    background-color: white;
    box-shadow: white 1px 1px 1px 1px ;
    margin-top: 5px;
}


.btn{
    width: 22%;
    margin: 1px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    color: white;
    margin-top: 26px;
}

.btn:hover{
    color: turquoise;
}

.multiply{
    width: 22%;
    margin: 1px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    color: white;
    margin-top: 26px;
}

.multiply:hover{
    color: turquoise;
}


.minus{
    width: 22%;
    margin: 1px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    color: white;
    margin-top: 26px;
}


.minus:hover{
    color: turquoise;
}


.plus{
    width: 22%;
    margin: 1px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    color: white;
    margin-top: 26px;
}


.plus:hover{
    color: turquoise;
}


.dot{
    width: 22%;
    margin: 1px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    color: white;
    margin-top: 26px;
}

.dot:hover{
    color: turquoise;
    
}
.dot1{
    width: 48%;
    margin: 1px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    color: white;
    margin-top: 26px;
}

.dot1:hover{
    color: turquoise;
    
}